@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 1.5rem;
  color: #222;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: rgb(198, 197, 217);
  background: linear-gradient(
    90deg,
    rgba(198, 197, 217, 1) 0%,
    rgba(187, 187, 245, 1) 35%,
    rgba(147, 237, 255, 1) 100%
  );
  display: flex;
  justify-content: center;
  height: 100vh;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}

main {
  margin-top: 6rem;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.disclaimer {
  text-align: center;
  font-style: italic;
  color: #888;
  font-size: 0.75rem;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.input-container input {
  padding: 0.25 rem;
  text-align: center;
  width: 12rem;
  border: 2px solid #222;
}

button {
  border: none;
  padding: 1.5rem 2rem;
  cursor: pointer;
  border: 2px solid #222;
}

.result-container {
  margin-top: 5rem;
  gap: 1rem;
}

.active {
  background-color: #44853296;
}
