@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 0.75rem;
  color: #222;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: rgb(198, 197, 217);
  background: linear-gradient(
    90deg,
    rgba(198, 197, 217, 1) 0%,
    rgba(187, 187, 245, 1) 35%,
    rgba(147, 237, 255, 1) 100%
  );
  justify-content: center;
  height: 100vh;
  z-index: 1;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  transition: 0.5s ease-in-out;
  z-index: 5;
}

.hidden {
  display: none !important;
}

.create-note-modal {
  position: absolute;
  left: 50%;
  top: -150%;
  transform: translate(-50%, -50%);
  width: clamp(60%, 400px, 90%);
  height: clamp(60%, 400px, 90%);
  transition: 0.5s ease-in-out;

  background-color: white;
  padding: 3rem 2rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.active {
  top: 50% !important;
}

.create-note-modal-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input,
textarea {
  padding: 0.5rem;
}
