:root {
  /* colors */
  --text: #d1d7fd;
  --background: #020623;
  --primary: #869cf9;
  --secondary: #a809a9;
  --accent: #f538a3;

  /* font */
  --heading: 'Montserrat', sans-serif;
  --body: 'Hind', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;

  position: relative;

  color: var(--text);
  font-family: 'Montserrat', sans-serif;
}

#animationContainer {
  position: absolute;
  top: 15%;
  left: 0;
  width: 100%;
  height: 85%;
  background-image: radial-gradient(var(--primary) 0%, var(--background) 80%);
}

.controls {
  background-color: var(--background);
  height: 15%;

  border-bottom: 2px solid var(--primary);

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-container {
  display: flex;
  gap: 0.5rem;
}

.controls > * > * {
  margin-top: 0.5rem;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--primary);
  color: var(--background);
  font-family: 'Hind', sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--secondary);
}
